    <div class="banner banner-bio">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>BIOFEEDBACK</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">

                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <p class="lead">Las intervenciones con Biofeedback encajan bien en la perspectiva de  poder de ayudar  los clientes a lograr una salud óptima y bienestar</p>

                    <p class="lead">La biorretroalimentación es un proceso de aprender a influir en los propios procesos fisiológicos,  <span class="cursiva">con el objetivo de mejorar el funcionamiento óptimo, el bienestar o la salud</span> (Gilbert & Moss,  2003; Sherman, 2004)</p>

                    <p class="lead">Una de las características únicas de la biorretroalimentación es que el proceso proporciona a los individuos <span class="cursiva"> una relación entre la mente y el cuerpo</span> (Gilbert & Moss, 2003; Seaward, 2006)</p>


                    <p class="lead">El entrenamiento en <span class="negrita">coherencia cardíaca</span> es una técnica de bioffedback que enseña a controlar y eliminar el estrés, permitiendo observar y medir los progresos del entrenamiento del corazón en tiempo real, a través de un sensor conectado al dedo o a la oreja. El tiempo entre los latidos de nuestro corazón varía latido a latido, cuando hay estrés esa variación es mayor e irregular, el entrenamiento busca optimizar este proceso.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

