    <div class="banner banner-emdr">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>EMDR</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">

                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="clearfix"></div>
                    <p class="lead"> <span class="negrita">Desensibilización y Reprocesamiento por Movimientos Oculares (EMDR)</span> es una forma de psicoterapia personalizada diseñada para reducir estrés postraumático, ansiedad y síntomas depresivos asociados con el trastorno de estrés postraumático (TEPT) y para mejorar el funcionamiento global de salud mental. </p>

                    <p class="lead">EMDR  es un abordaje terapéutico sumamente interactivo. El tratamiento es llevado a cabo por un terapeuta de EMDR, que primero revisa la historia del cliente y evalúa si está preparado para trabajar con EMDR. La labor del clínico en el proceso será la de facilitar la <span class="negrita">autocuración</span> del cliente.</p>

                    <p class="lead">La terapia EMDR parece <span class="negrita">estimular una capacidad intrínseca del cerebro humano</span> para resolver los trastornos emocionales </p>

                    <p class="lead">Es más la <span class="negrita">OMS</span> (Organización Mundial de la Salud) recomienda la terapia EMDR para el tratamiento del trastorno por estrés postraumático.</p>

                    <p class="lead"><span class="negrita">EMDR</span> ha demostrado ser útil en el <span calss="negrita">tratamiento del trauma</span> y en la resolución de  síntomas en:</p>

                    <div>
                        <p>- Dolor crónico</p>
                        <p>- Perdida y Duelo</p>
                        <p>- Fobias y Trastornos de ansiedad</p>
                        <p>- Estrés postraumático</p>
                        <p>- Trastornos Disociativos</p>
                    </div>


                    <p>
                    <hr>
                    <p>
                        <div dir="ltr">
                            <h3><span style="color:rgb(128,128,0)">Links EMDR</span></h3>
                            <ul>
                                <li><a title="emdr-es.org" href="http://www.emdr-es.org/" target="_blank"><font color="#0066cc">www.emdr-es.org</font></a></li><li><a href="http://www.emdr.com/" target="_blank"><font color="#0066cc">www.emdr.com</font></a>. Página oficial del EMDR (Inglés)</li>
                                <li><a href="http://www.emdria.org/" target="_blank"><font color="#0066cc">www.emdria.org</font></a>. Organización Internacional de EMDR (Inglés)</li><li><a href="http://www.emdr-europe.org/" target="_blank"><font color="#0066cc">www.emdr-europe.org</font></a>. Asociación EMDR-Europa (Inglés)</li>
                            </ul>
                        </div>
                    </p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


