    <div class="banner banner-neuro">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>NEUROFEEDBACK</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">

                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="clearfix"></div>
                    <p class="lead">El Neurofeedback  es un entrenamiento de las ondas cerebrales para la mejora de la funcionalidad del cerebro,  fortalecer su capacidad de <span class="negrita">autoregulación . Se trata de entrenar al cerebro para potenciar su funcionamiento.</span><p class="lead">Se trata de una técnica no invasiva, computarizada e interactiva, que consiste en la aplicación de electrodos sobre el cuero cabelludo que registran la actividad de la corteza cerebral,  mientras la persona recibe en la pantalla del ordenador refuerzos externos positivos  (estímulos visuales y auditivos)   de su sistema nervioso. A medida que el paciente recibe mayor entrenamiento logra alcanzar una disminución de los síntomas, siendo la duración de sus beneficios a largo plazo una de la principales ventajas frente a tratamientos farmacológicos convencionales.</p>
                    <p class="lead">Existen numerosas investigaciones  clínicas y científicas  que avalan la eficacia del Neurofeedback. Aplicaciones más avaladas a nivel mundial:</p>
                    <ul>
                        <li><p class="lead">Trastorno de atención e hiperactividad: <span class="negrita">TDA/TDAH</span></p></li>
                        <li><p class="lead negrita">Epilepsia</p></li>
                        <li><p class="lead"><span class="negrita">Adicciones</span> (drogas, alcoholismo, otras adicciones)</p></li>
                        <li><p class="lead"><span class="negrita">Optimización</span> y mejora del rendimiento , en el ámbito deportivo, profesional y personal</p></li>
                        <li><p class="lead negrita">Migrañas, Cefaleas y Dolores Crónicos</p></li>
                        <li><p class="lead negrita">Trastornos del estado de ánimo y ansiedad</p></li>
                    </ul>
                    <hr>
                    <p>
                        <div dir="ltr">
                            <h3><span style="color:rgb(128,128,0)">Links Neurofeedback</span></h3>
                            <ul>
                                <li><a href="http://www.eeginfo.com/" target="_blank"><font color="#0066cc">www.eeginfo.com</font></a>
                                </li>
                        </div>
                    </p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

