    <div class="banner banner-que">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Qué hacemos</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">

                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <p class="lead">Somos un equipo de profesionales comprometidos en la búsqueda de nuevos avances para  la mejora  y desarrollo personal. Nos valemos de nuestro conocimiento en EMDR, Neurofeedback y Terapias Corporales para esa búsqueda del equilibrio personal en relación con los demás y con el mundo.</p>

                    <p class="lead">Fundido en una sola estructura, nuestro sistema nervioso central alberga tres cerebros que nos ayudan a integrar las experiencias vividas en la historia de nuestra vida y dar sentido a  “ quién soy yo “, acompañamos a las personas en esa búsqueda de la mejor versión de sí mismos.</p>
                    <p>
                        <div dir="ltr">
                            <h3><span style="color:rgb(128,128,0)">Lecturas recomendadas</span></h3>
                            <ul>
                                <li>SUPERA TU PASADO<em>. Francine Shapiro. Editorial Paidos</em></font></li>
                                <li><em></em>EMDR. Francine Saphiro, <em>Editorial Pax (México)</em></li>
                                <li>LA CURACIÓN DEL TRAUMA INFANTIL MEDIANTE DRMO (EMDR). <em>Joan Lovett, Paidos</em></li>
                                <li>CURACION EMOCIONAL. <em>David Servan-Scheriber, Kairos</em></li><li>EL CEREBRO DEL NIÑO<em>. Daniel J. Siegel. Alba </em><em></em></li>
                            </ul>
                        </div>
                    </p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

