<div class="banner banner-donde">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Dónde estamos</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons right">
                        <li>
                            <p>Transporte público desde Salamanca:</p>
                            <p>Autobús Nº20 a Santa Marta desde Salamanca,</p>
                            <p>en Gran Vía cada 15 minutos.</p> {{!-- <p>(Salida y llegada en las escaleras de La Riojana)</p> --}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

        <!-- Map -->
        {{!-- 40°57'04.8"N 5°38'24.1"W --}}
    <div id="contact" style='height:500px;' class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBDpQ4sWXxuu7nS5OdoehQTLZnFa7Mri2s&q=ISCA Psicología, Salamanca, Castilla y León">

        </iframe>
{{!--         <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe> --}}
    </div>
    <!-- /Map -->