<div class="banner banner-quien">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Quiénes Somos</h2>
            </div>
            <div class="col-lg-6">

            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading">Francisca Gómez López</h2>
                <p class="lead">Psicóloga Colegiado Nº  CL-1747 . Psicólogo Especialista en Psicoterapia EFPA. Certificado Europeo en Psicologia EUROPSY.  Master en Modificación de Conducta.  Clínico EMDR. Miembro de la Asociación Española de EMDR. Clínico en Neurofeedback con formación avanzada acreditada por EEG INFO Europa y Ataman Science. Terapia Sensoriomotora. Tratamiento del trauma.</p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

